extends layout.pug

block scripts
    script(src='./assets/scripts/script-confirmation.js')

block content
    main
      h1
        | Votre commande est confirmée
        span#name
      p
        | Votre numéro de confirmation est le
        b#confirmation-number
        | .
