extends layout.pug

block content
    main
      h1 Contact
      p
        | Si vous souhaitez contacter
        i OnlineShop
        | , veuillez utiliser les coordonnées suivantes.
      .parent-col.contact-contour
        .col3.contact-contenu
          i.fa.fa-mobile.fa-5x
          p
            a(href='tel:+33494461709') +33494461709
        .col3.contact-contenu
          i.fa.fa-map-marker.fa-5x
          p
            i
              | 2900 Boulevard Edouard-Montpetit
              br
              | Montréal, QC
              br
              | H3T 1J4
        .col3.contact-contenu
          i.fa.fa-envelope.fa-5x
          p
            a(href='mailto:someone@example.com') someone@example.com
