doctype html
html(lang='fr')
  head
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='./assets/css/style.css')
    script(type='text/javascript', src='./assets/js/jquery-3.2.1.min.js')
    script(type='text/javascript', src='./assets/scripts/script-entete.js')
    meta(charset='UTF-8')
    title OnlineShop - Contact
  body
    main
      h1 Contact
      p
        | Si vous souhaitez contacter
        i OnlineShop
        | , veuillez utiliser les coordonnées suivantes.
      .parent-col.contact-contour
        .col3.contact-contenu
          i.fa.fa-mobile.fa-5x
          p
            a(href='tel:+33494461709') +33494461709
        .col3.contact-contenu
          i.fa.fa-map-marker.fa-5x
          p
            i
              | 2900 Boulevard Edouard-Montpetit
              br
              | Montréal, QC
              br
              | H3T 1J4
        .col3.contact-contenu
          i.fa.fa-envelope.fa-5x
          p
            a(href='mailto:someone@example.com') someone@example.com
