extends layout.pug

block content
  main
    img(src='assets/img/home.png', alt='image home')
    h1 Page d'accueil
    p
      | Ce site de commerce en ligne vous permet d'accèder à un large catalogue de produits High-tech. Les bas prix que nous pratiquons
      | font de nous le meilleur endroit pour passer au monde d'aujourd'hui et de demain.
    a.standardButton(href='/produits') Liste de produits
