doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='./assets/css/style.css')
    script(src='./assets/js/jquery-3.2.1.min.js')
    script(src='./assets/scripts/script-entete.js')
    title= title
    block scripts

    meta(charset='UTF-8')
  body
    header
      div
        a(href='/accueil')
          img(src='assets/img/logo.svg', alt='logo')
        nav
          if active === 'accueil'
            a.active(href='/accueil') Accueil
          else
            a(href='/accueil') Accueil
          if active === 'produits'
            a.active(href='/produits') Produits
          else
            a(href='/produits') Produits
          if active ==='contact'
            a.active(href='/contact') Contact
          else
            a(href='/contact') Contact
          a.shopping-cart(href='./panier', title='Panier')
            span.fa-stack.fa-lg
              i.fa.fa-circle.fa-stack-2x.fa-inverse
              i.fa.fa-shopping-cart.fa-stack-1x
            span.count
    block content
    footer
      p
        | GOUPIL Camille 1922286
        br
        | 			CHARLOT Théo 1922297
