extends layout.pug

block scripts
    script(src='./assets/js/jquery.validate.min.js')
    script(src='./assets/js/additional-methods.min.js')
    script(src='./assets/js/messages_fr.js')
    script(src='./assets/scripts/script-order.js')

block content
    main
      h1 Commande
      form#order-form(action='/confirmation')
        section
          h1 Contact
          .parent-col
            .col2.form-container
              p Prénom
              input#first-name.infos-commande.form-control(type='text', name='firstname', placeholder='Prénom')
            .col2.form-container
              p Nom
              input#last-name.infos-commande.form-control(type='text', name='lastname', placeholder='Nom')
            .col2.form-container
              p Courriel
              input#email.infos-commande.form-control(type='email', name='email', placeholder='Email')
            .col2.form-container
              p Téléphone
              input#phone.infos-commande.form-control(type='text', name='phone', placeholder='Téléphone')
        section
          h1 Paiement
          .parent-col
            .col2.form-container
              p Numéro de carte
              input#credit-card.infos-commande.form-control(type='text', name='creditcard', placeholder='Numéro de carte de crédit')
            .col2.form-container
              p Date d'expiration de la carte
              input#credit-card-expiry.infos-commande.form-control(type='text', name='creditcardexpiry', placeholder='Date expiration de la carte')
        div
          button.standardButton(type='submit')
            | Payer
            i.fa.fa-angle-double-right
