extends layout.pug

block scripts
  var id= id
  script(src='./assets/scripts/script-product.js')

block content
  body
    main
      h1#product-name
      .parent-col
        .image-produit.col2
          img#product-image(alt='image produit')
        .infos-produit.col2
          div
            h2 Description
            p#product-desc
          div
            h2 Caractéristiques
            ul#product-features
          form#add-to-cart-form.achat-box
            p
              | Prix :
              span#product-price
            div
              | Quantité :
              input.form-control(type='number', name='quantity', min='1', value='1')
              button.standardButton(type='submit')
                i.fa.fa-shopping-cart
                |  Ajouter
      #centerpoint
        #dialog
          p Le produit a été ajouté au panier.
