
extends layout.pug

block scripts
  script(src='./assets/scripts/script-products.js')

block content
    main.dividedMain
      aside
        section
          h1 Catégories
          #product-categories
            button#cameras Appareils photo
            button#consoles Consoles
            button#screens Écrans
            button#computers Ordinateurs
            button#all.selected Tous les produits
        section
          h1 Classement
          #product-criteria
            button#priceUp.selected Prix (bas-haut)
            button#priceDown Prix (haut-bas)
            button#alphaUp Nom (A-Z)
            button#alphaDown Nom (Z-A)
      div
        h1.col2.left-element Produits
        p#products-count.col2.right-element
        // En prévision du responsive, nous préférons mettre un élément <div> plutôt qu'un tableau qui risque d'être trop statique
        #products-list
